<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bbs_smarty.css" rel="stylesheet" type="text/css" />
    </head>
    <body>       
        <form action="register.php" method="post">
            <table  height="350" border="0" cellspacing="0" cellpadding="1" bgcolor="#E6E6FA ">  
                <tr>
                    <td align="left">
                        <button>
                            
                            <a href="index.php"> back</a>
                           <!--
                            <a href="javascript:history.go(-1);">back</a>
                         --></button>
                    </td>
                </tr>
                <!--
                                <tr>
                                    <td align="right">
                
                                        userName:
                                    </td>
                                    <td align="center">
                                        <input type="text" name="userName"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        password:
                                    </td>
                                    <td align="center">
                                        <input type="password" name="pwd"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        <input type="submit" value="register">
                                    </td>
                                </tr>
                -->
                <tr>
                    <td>
                    </td>
                    <td>
                        <table  height="350" border="0" cellspacing="0" cellpadding="1" bgcolor="#E6E6FA ">
                            <tr>
                                <td align="center">
                                       userName:
                                </td>
                                <td align="left">
                                     <input type="text" name="userName"/>
                                </td>
                            </tr>
                              <tr>
                                <td align="center">
                                       password:
                                </td>
                                <td align="left">
                                     <input type="password" name="pwd"/>   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  
                                    </td>
                                    <td align="left">
                                         <input type="submit" value="register">
                                        </td>
                                </tr>
                                <tr>
                                    <td>
                                        </td>
                                        <td>
                                           PS:Password shorter than 
                                     15 characters
                                            </td>
                                        </tr>
                        </table>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>     
        </form> 
    </body>
</html>